<!-- Loop over each object in the projects array -->
{{#each jobs as |job| }}
<div class="row mb-4 project">
{{job.name}}
{{job.description}}
{{job.salary}}
{{job.benefits}}
{{job.date_created}}
</div>
{{/each}}
