
  <div class=''>
    <div class="flex flex-col text-center">
    <h1 class='fancy text-3xl m-5 text-[#114B5F]'>{{name}}</h1>
    <p class="apple text-xl font-bold text-[#114B5F]">{{user.company_name}}</p>
    <p class="apple mt-1 text-xl font-bold text-[#114B5F]">{{location}}</p>
    </div>

<div class="bg-[#C6DABF] mx-8 p-8 mt-8 rounded-lg">
    <div class="flex flex-col text-center mb-3">
    <h2 class="apple mb-5 font-bold text-lg text-[#114B5F]">Description</h2>
      <p class="apple text-lg">{{description}}</p>
    </div>

    <div class="flex flex-col text-center">
    <h2 class="apple font-bold text-lg text-[#114B5F]">Salary</h2>
    <p class="apple">${{salary}}</p>
    <h2 class="apple font-bold text-lg text-[#114B5F]">Benefits</h2>
    <p class="apple">{{benefits}}</p>
    <h2 class="apple font-bold text-lg text-[#114B5F]">Date Posted</h2>
    <p class="apple">{{format_date date_created}}</p>
    </div>
</div>
  </div>